/node_modules
/public/hot
/public/storage
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
error_log
/storage/tmp
.DS_Store
docker-local/
/public/.well-known
.idea/
.vscode/
.ddev/
installation/backup/database.sql
multi_food_db_dump.sql
public/public/assets/admin/js/theme.min.js
